FROM debian:{{ docker_debian_version }}-slim
LABEL maintainer="{{ docker_maintainer }}"

SHELL ["/bin/bash", "-xo", "pipefail", "-c"]

# Image is built from Odoo branch given by VERSION AND WITH EXACT COMMIT HASH
# IMPORTANT! This script contains extra libraries that are specifically needed for Odoo 10.0
ARG ODOO_VERSION
ARG ODOO_COMMIT_HASH
# VERSION_DATE is used as meta info in version.txt file generated at /odoo
#  and to limit cloning depth via shallow-since
#  VERSION_DATE must be equal to commit selected date
ARG VERSION_DATE
# Odoo need specific extra version for wkhtmltopdf provided by Odoo from nightly builds server
ARG WKHTMLTOPDF_DEB
ARG WKHTMLTOPDF_SHA
# PostgreSQL Version used for bakcup/restore operations
ARG POSTGRES_VERSION
# Choosing default conf file, eg. to create dev container
ARG DEFAULT_CONF_FILE=odoo_default.conf

ENV ODOO_VERSION=${ODOO_VERSION}
ENV LC_ALL=C.UTF-8
ENV LANG=C.UTF-8
ENV DEBIAN_FRONTEND=noninteractive


#--------------------------------------------------
# Prepare Env
#--------------------------------------------------

# Create Odoo system user
RUN set -x; \
        adduser --system --home /odoo --quiet --group odoo \
        # Log
        && mkdir -p /var/log/odoo \
        && chown odoo:odoo /var/log/odoo \
        && chmod 0750 /var/log/odoo \
        # Data dir
        && mkdir -p /var/lib/odoo \
        && chown odoo:odoo /var/lib/odoo \
        && chmod 0750 /var/lib/odoo

#--------------------------------------------------
# Install ODOO
#--------------------------------------------------

# Use backports to avoid install some libs with pip
{% if docker_debian_version != 'jessie' %}
RUN echo 'deb http://deb.debian.org/debian {{ docker_debian_version }}-backports main' > /etc/apt/sources.list.d/backports.list
{% endif %}

# Clone git repo, using commit hash if given
RUN set -x; \
        apt-get update && apt-get install -y git apt-utils \
        && git clone --branch ${ODOO_VERSION} https://{{ odoo_ce_src_repo }} /odoo/odoo-server \
        && cd /odoo/odoo-server \
        && git reset --hard ${ODOO_COMMIT_HASH} \
        && rm -rf /odoo/odoo-server/.git \
        # Setting permissions on home folder
        && chown -R odoo:odoo /odoo/* \
        # Cleaning layer
        && apt-get purge -y --auto-remove -o APT::AutoRemove::RecommendsImportant=false -o APT::AutoRemove::SuggestsImportant=false \
        && rm -rf /var/lib/apt/lists/*

#--------------------------------------------------
# Install Dependencies
#--------------------------------------------------

# Install some deps, lessc and less-plugin-clean-css, wkhtmltopdf
#  and pgclient

RUN set -x; \
        apt-get update && apt-get install -y wget gnupg \
        && echo 'deb http://apt.postgresql.org/pub/repos/apt/ {{ docker_debian_version }}-pgdg main' >  /etc/apt/sources.list.d/pgdg.list \
        && wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add - \
        && apt-get update \
        && apt-get install -y \
        bash \
        ca-certificates \
        curl \
        postgresql-client-${POSTGRES_VERSION} \
        vim \
{% for package in odoo_required_packages %}
        {{ package }} \
{% endfor %}
        # WKMHTLTOPDF
        && apt-get -y install xfonts-75dpi xfonts-base \
        && curl -o wkhtmltox.deb -sSL ${WKHTMLTOPDF_DEB} \
        && echo "${WKHTMLTOPDF_SHA} wkhtmltox.deb" | sha1sum -c - \
        && dpkg --force-depends -i wkhtmltox.deb \
        && apt-get -y install -f --no-install-recommends \
        # Cleaning layer
        && apt-get purge -y --auto-remove -o APT::AutoRemove::RecommendsImportant=false -o APT::AutoRemove::SuggestsImportant=false \
        && rm -rf /var/lib/apt/lists/* wkhtmltox.deb

# Python odoo requirements
RUN set -x; \
        {{ pip_cmd }} install -r /odoo/odoo-server/requirements.txt

# Install python extra requirements
COPY ./files/requirements.txt /odoo/extra-requirements.txt
RUN set -x; \
        {{ pip_cmd }} install -r /odoo/extra-requirements.txt


{% if docker_debian_version == 'stretch'%}
# Install rtlcss (on Debian stretch), from Odoo Dockerfile
RUN set -x;\
        echo "deb http://deb.nodesource.com/node_8.x {{ docker_debian_version }} main" > /etc/apt/sources.list.d/nodesource.list \
        && export GNUPGHOME="$(mktemp -d)" \
        && repokey='9FD3B784BC1C6FC31A8A0A1C1655A0AB68576280' \
        && gpg --batch --keyserver keyserver.ubuntu.com --recv-keys "${repokey}" \
        && gpg --armor --export "${repokey}" | apt-key add - \
        && gpgconf --kill all \
        && rm -rf "$GNUPGHOME" \
        && apt-get update \
        && apt-get install -y nodejs \
        && npm install -g rtlcss \
        && rm -rf /var/lib/apt/lists/*
{% elif docker_debian_version == 'buster' %}
# Install rtlcss (on Debian buster), from Odoo Dockerfile
RUN npm install -g rtlcss
{% endif %}


# Writing meta infos file
RUN echo "Version : ${ODOO_VERSION}\n" > /odoo/version.txt \
        && echo "Date from : ${VERSION_DATE}\n" >> /odoo/version.txt \
        && echo "Commit : ${ODOO_COMMIT_HASH}\n" >> /odoo/version.txt \
        && echo "Built on :" >> /odoo/version.txt \
        && date +"%Y-%m-%d" >> /odoo/version.txt && echo "\n"


RUN mkdir -p /etc/odoo

COPY ./files/${DEFAULT_CONF_FILE} /etc/odoo/odoo.conf

RUN chown odoo /etc/odoo/odoo.conf \
        && chmod 0640 /etc/odoo/odoo.conf

# Copy entrypoint script
COPY ./files/wait-for-psql.py /usr/local/bin/wait-for-psql.py
COPY ./files/entrypoint.sh /
RUN chmod +x /entrypoint.sh /usr/local/bin/wait-for-psql.py

# Mount /var/lib/odoo to allow restoring filestore
# and /mnt/extra-addons for users addons
RUN set -x; \
        mkdir -p /mnt/extra-addons \
        && chown -R odoo /mnt/extra-addons \
        && mkdir -p /var/lib/odoo \
        && chown -R odoo /var/lib/odoo \
        && mkdir -p /var/log/odoo \
        && chown -R odoo /var/log/odoo

VOLUME ["/var/lib/odoo", "/mnt/extra-addons"]

# Expose Odoo services
EXPOSE 8069 8072

# Set the default config file
ENV ODOO_RC /etc/odoo/odoo.conf

# Set default user when running the container
USER odoo

ENTRYPOINT ["/entrypoint.sh"]
CMD ["odoo"]
